.header{
    background-image: url(img/Red_panda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    height: 200px;
}

.sprite-cat {
	background: url('img/sprites.png') no-repeat 0 0;
	width: 26px;
	height: 26px;
}

.sprite-facebook {
	background: url('img/sprites.png') no-repeat -400px -51px;
	width: 24px;
	height: 24px;
}

.img-right{
    float: right;
    margin: 10px 0px 5px 10px;
    width: 300px;
    height: 300px;
}

.img-left{
    float: left;
    margin: 10px 10px 5px 0px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    text-align: justify;
}